.navbar {
    display: flex;
    flex-flow: row nowrap;
    min-height: 4rem;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
}

.navbar__left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.navbar__left-sidebar_hamburger > svg {
    margin: 0 1rem;
    cursor: pointer;
    /* height: 40px;
    width: 30px; */
    padding: 0.9375rem;
}

.navbar__left-sidebar-icon > svg {
    margin-right: 1rem;
}

.navbar__left-brand > p{
    color: #2B244D;
    font-family: "SegoeUI-Semibold", "Segoe UI", sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.navbar__middle > h3 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.navbar__right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 3rem;
}