.navbar__left-menu {
    margin-right: 1rem;
    font-size: 30px;
}

.navbar__left-icon {
    display: flex;
}

.navbar__left-brand > p {
    color: #2B244D;
    font-family: "SegoeUI-Semibold", "Segoe UI", sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-left: 2rem;
}

.navbar__middle > h3 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.navbar__right {
    margin-right: 1rem;
}


.navbar__right_indicators {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.navbar__right_indicators:nth-child(1) {
    margin-right: 0.75rem;
}
.navbar__right_indicators:nth-last-child(1) {
    margin-left: 0.75rem;
}