<nav class="navbar">
  <section class="navbar__left">
    <div class="navbar__left-sidebar_hamburger">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" version="1.1" width="50px" height="50px">
        <g id="surface1">
          <path style=" " d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z "/>
        </g>
      </svg>
    </div>
    <div class="navbar__left-sidebar-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 145 145">
        <g>
          <g>
            <path fill="#00ff9b" d="M.522 144.377V.782l143.594 143.595z"/>
          </g>
          <g>
            <path fill="#003eff" d="M144.116 144.377H.522L144.116.782z"/>
           </g>
        </g>
      </svg>
    </div>
    <div class="navbar__left-brand">
      <p>AngularWeatherApp</p>
    </div>
  </section>
  <section class="navbar__middle">
    <h3>Today</h3>
  </section>
  <section class="navbar__right">
    <span class="">Left/</span>
    <label class="toggle-button__container">
      <input class="mode-toggle__input" type="checkbox">
    </label>
    <span class="">\Right</span>
  </section>
</nav>