<mat-toolbar class="navbar" style="background-color:lightblue;">

    <mat-toolbar-row>

      <section class="navbar__left" fxFlex fxLayoutAlign="start center">
        <app-hamburger (click)="emitSidebarCall()"></app-hamburger>
        <div class="navbar__left-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 145 145">
            <g>
              <g>
                <path fill="#00ff9b" d="M.522 144.377V.782l143.594 143.595z"/>
              </g>
              <g>
                <path fill="#003eff" d="M144.116 144.377H.522L144.116.782z"/>
               </g>
            </g>
          </svg>
        </div>

        <section class="navbar__left-brand" fxFlex  fxLayoutAlign="start center">
          <p>AngularWeatherApp</p>
        </section>

      </section>

      <section class="navbar__middle" fxFlex fxLayoutAlign="space-around center">
        <h3>Today</h3>
      </section>

      <section class="navbar__right" fxFlex fxLayoutAlign="end center">
        <span class="navbar__right_indicators">Light</span>
        <mat-slide-toggle color="warn"></mat-slide-toggle>
        <span class="navbar__right_indicators">Dark</span>
      </section>

    </mat-toolbar-row>

</mat-toolbar>