<div class="main">

  <div class="main__container">
    <div class="main__container_left_card">
      <form class="main__container_left_card-form">
        <h2>Login</h2>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="pass" placeholder="Password">
        <input id="submit" type="button" value="Login" type="submit">
        <footer class="main__container_left_card-form-footer">
          <span>Don't have an account?</span><a href="">SIGN UP</a>
        </footer>
      </form>
    </div>

    <div class="main__container_right_card">
      <span>Welcome Back!</span>
      <span>css-line</span>
    </div>
  </div>

</div>