/* .sidebar {
    min-width: 26rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.sidebar__header_uppersection {
    position: relative;
}

.sidebar__header_uppersection-slider {
    position: relative;
    font-size: 30px;
    left: 16px;
    top: 2.25px;
}

.sidebar__header_uppersection-greetings {
    margin-top: 0.25rem;
    position: relative;
    left: -4rem;
}

.sidebar__header_uppersection-greetings > h2 {
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: white;
    top: 3px;
    position: relative;
}

.sidebar__header_content {
    margin-top: 4rem;
    color: white;
}

.sidebar__header_content-avatar {
    margin-right: 1.5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    background-color: white;
    align-self: center;
    margin-left: 2.25rem;
}

.sidebar__header_content-avatar > img {
    max-width: 4rem;
}

.sidebar__menu_links-list > li {
    outline: none;
    font-size: 1rem;
    padding: 1rem 0;
    margin: 0.5rem 0;
    cursor: pointer;
}
*/

.sidebar {
    background-color: #fff;
    min-width: 26rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.sidebar__header {
    height: 265px; /* todo convert to rem */
    background: linear-gradient(to right, #00FF9B, #5f84fb);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.sidebar__header-menu {
    height: 64px;
}

.sidebar__header-menu-title {
    color: #fff;
    font-weight: light;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
}

.sidebar__user {
    height: calc(200px - 60px);
    color: #fff;
}

.sidebar__user-image {
    display: block;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
}

.sidebar__user-info {
    line-height: 1.5em;
}

.sidebar__user-info-email {
    font-size: 1.15rem;
}

.sidebar__user-date {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.sidebar__main-wrapper {
    min-height: calc(100vh - (200px + 65px));
}

.sidebar__navbar {
    padding-top: 1rem;
    list-style: none;
}

.sidebar__navbar-item {
    outline: none;
    font-size: 1rem;
    padding: 1rem 0;
    margin: 0.75rem 0;
    cursor: pointer;
}

.sidebar__navbar-item:hover {
    cursor: pointer;
}

.active_link {
    color: #495CFC;
    border-bottom: 1px solid #495CFC;
}