<!-- <aside class="sidebar" fxFill fxLayout="column" fxLayoutGap="12px">

    <header class="sidebar__header" fxFlex="27.5" fxLayout="column" >
        <section class="sidebar__header_uppersection" fxLayout="row" fxLayoutGap="11rem">
            <div fxFlex="2" fxLayoutAlign="start center" >
                <button class="sidebar__header_uppersection-slider" mat-icon-button (click)="emitSidebarCall()">
                    <mat-icon [inline]="true" aria-label="Close sidebar">menu</mat-icon>
                </button>
            </div>
            <div class="sidebar__header_uppersection-greetings">
                <h2> welcome back </h2>
            </div>
        </section>

        <section class="sidebar__header_content" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="sidebar__header_content-avatar">
                <img src="../../assets/img/generic-user-purple.png" alt="user's avatar">
            </div>
            <section class="sidebar__header_content_info">
                <span class="sidebar__header_content_info-email">{{ user.email }}</span><br>
                <span class="sidebar__header_content_info-plan">{{ user.createdDate | date }}</span>
            </section>
        </section>
    </header>

    <main fxFlex="45.5" fxLayout="column" class="sidebar__menu">
        <section class="sidebar__menu_links">
            <ul fxLayout="column" class="sidebar__menu_links-list">
                <li (click)="emitSidebarCall()" routerLink="/" routerLinkActive="active_link">Home</li>
                <li (click)="emitSidebarCall()" routerLink="/add" routerLinkActive="active_link">Add City</li>
                <li>Log Out</li>
            </ul>
        </section>
    </main>

    <footer fxFlex fxLayoutAlign="center center" class="sidebar__menu_footer">
        <a href="https://github.com/i-vivdich/angular_weather_app" target="_blank" rel="noopener" rel="noreferrer" alt="github repository">
            <mat-icon svgIcon="github" aria-label="github repository">
            </mat-icon>
        </a>
    </footer>

</aside> -->
<aside class="sidebar">

    <header class="sidebar__header">
        <section fxLayoutAlign="space-between center" fxLayout="row" class="sidebar__header-menu">
            <app-hamburger style="margin-left:1rem;" (click)="emitSidebarCall()"></app-hamburger>
            <h2 fxFlex="1 1 0" class="sidebar__header-menu-title">Welcome Back</h2>
        </section>

        <section fxLayoutAlign="center end" class="sidebar__user">
            <div fxFlex="1 1 0" fxLayoutAlign="center center"  class="sidebar__user-photo">
                <img class="sidebar__user-image " src="../../assets/img/generic-user-purple.png" alt="user's avatar">
            </div>
            <div fxFlex="2 1 0"  fxLayout="column" class="sidebar__user-info">
                <div class="sidebar__user-info-email">{{ user.email }}</div>
                <div class="sidebar__header_content_info-date">{{ user.createdDate | date }}</div>
            </div>
        </section>

    </header>

    <main class="sidebar__main-wrapper">
        <section class="sidebar__main">
            <ul class="sidebar__navbar">
                <li class="sidebar__navbar-item"  (click)="emitSidebarCall()" routerLink="/" routerLinkActive="active_link">Home
                </li>
                <li class="sidebar__navbar-item" (click)="emitSidebarCall()" routerLinkActive="active_link" routerLink="/add">Add City
                </li>
                <li class="sidebar__navbar-item" (click)="emitSidebarCall()" routerLink="/">Log out
                </li>
            </ul>
        </section>
    </main>

    <footer fxLayoutAlign="center center" class="sidebar__footer">
        <a href="https://github.com/i-vivdich/angular_weather_app" target="_blank" rel="noopener" rel="noreferrer" alt="github repository">
            <mat-icon svgIcon="github" aria-label="github repository"></mat-icon>
        </a>
    </footer>
</aside>