.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #5ee7df 0%, #66a6ff 100%);
}

.main__container {
    position: relative;
    display: flex;
    width: 76.5%;
    min-height: 80vh;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-animation: fadein 1s ease-in-out;
    animation: fadein 1s ease-in-out;
}

.main__container_left_card {
    display: flex;
    flex: 2 2;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: white;
    min-height: 100%;
    border-radius: 10px 0 0 10px;
}

.main__container_left_card-title {
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    color: #0c1066;
    position: absolute;
    top: 2.9rem;
    -webkit-animation: fadein 1.75s ease-in-out;
    animation: fadein 1.75s ease-in-out;
}

.main__container_left_card-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 85%;
    -webkit-animation: slidedown 2s ease-in-out;
    animation: slidedown 2s ease-in-out;
}

.main__container_left_card-form_inputs {
    border-radius: 2rem;
    padding: 1.6rem;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.3);
    outline: none;
    border: none;
    width: 85%;
    margin: 0.5rem 0;
}

.valid-button {
    background: linear-gradient(to right, #03a9f4, #00ff9b);
}

.main__container_left_card-form > #submit {
    margin-top: 2rem;
    border-radius: 2rem;
    width: 47.5%;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    outline: none;
    border: none;
}

.main__container_left_card-form_inputs::placeholder {
    color: #39437a;
    font-size: 0.9rem;
}

.main__container_left_card-footer {
    margin-top: 3rem;
}

.main__container_left_card-footer > a {
    color: #ff3a82;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 1rem;
}

.main__container_right_card {
    display: flex;
    flex: 3 3;
    justify-content: flex-end;
    flex-flow: column;
    background-image: url("../../assets/img/asphalt-curve-dark-775199.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 0 10px 10px 0;
}

.main__container_right_card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 100%;
}

.main__container_right_card-greeting {
    color: white;
    letter-spacing: 0.03rem;
    margin: 0 0 2rem 3rem;
    font-size: 2.75rem;
    position: relative;
    z-index: 5;
    font-weight: bold;
    -webkit-animation: slideright 2s ease-out;
    animation: slideright 2s ease-out;
}

.main__container_right_card-line {
    background-color: white;
    width: 8rem;
    height: 0.5rem;
    border: none;
    outline: none;
    position: relative;
    z-index: 5;
    margin: 0 0 8rem 3rem;
    -webkit-animation: slideright 4s ease-out;
    animation: slideright 4s ease-out;
}

.ng-valid[required], .ng-valid.required {
    border-left: 3px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 3px solid #a94442;
}

#email #password {
    margin-bottom: 0.25rem;
}

.alert {
    padding: 13px 35px 13px 14px;
    margin-bottom: 10px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 2rem;
    width: inherit;
    text-align: center;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

@media all and (max-width: 1023px) {
    .main__container_right_card {
        display: none;
    }
    .main__container_left_card {
        border-radius: 10px;
    }
}

@media all and (max-width: 425px) {
    .main__container_left_card-footer > a {
        display: block;
        text-align: center;
        margin-left: 0px;
        margin-top: 0.75rem;
    }
    .main__container_left_card-title {
        top: 1.75rem;
    }
}